# Ignore local rubymine settings
.idea/

# Ignore local config files
config/settings.local.yml
config/settings/*.local.yml

# Ignore env vars
deploy/playbooks/files/env/vars

# Ignore current hosts
deploy/hosts

# Ignore docker images
*.tar
*.tar.gz

# Ignore local docker-compose file
docker-compose.yml

# Ignore local overcommit settings
.overcommit.yml

# Ignore local hunspell dictionaries
.hunspell/
