upstream web_server_upstream {
  server 127.0.0.1:3000;
}

server {
  listen 80;
  server_name {{ domain_name }};
  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;
  server_name {{ domain_name }};

  location / {
    access_log  off;

    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    proxy_pass http://web_server_upstream/;
  }

  ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem; # managed by Certbot
  include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}
