[db]
127.0.0.1

[redis]
127.0.0.1

[nginx]
127.0.0.1

[ufw]
127.0.0.1

[app]
127.0.0.1

[all:vars]
ansible_user=deployer
ansible_python_interpreter=/usr/bin/python3
database_password=change_me_for_christ_sake
domain_name=type_in_your_domain_name